

.accordions {
	padding: 20px 0;

	.accordion {
		margin: 0 0 2%;
		box-shadow: 3px 3px 20px rgba( black, .1 );

		.accordion-handle {
			background: $grey-light;
			padding: 15px 20px 15px 60px;
			position: relative;
			@include font-title-bold;
			font-size: 1.2em;
			line-height: 1.35em;
			color: white;
			cursor: pointer;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 40px;
				background: white url(../img/accent-tartan-vert-black.webp) center center no-repeat;
				background-size: cover;
			}

			&.rose {
				background: $rose;
				&:before { background-image: url(../img/accent-tartan-vert-rose.webp); }
			}

			&.red {
				background: $red;
				&:before { background-image: url(../img/accent-tartan-vert-red.webp); }
			}

			&.tan {
				background: $tan;
				color: $black;
				&:before { background-image: url(../img/accent-tartan-vert-tan.webp); }
			}

			&.foam {
				background: $foam;
				&:before { background-image: url(../img/accent-tartan-vert-foam.webp); }
			}

			&.blue {
				background: $blue;
				&:before { background-image: url(../img/accent-tartan-vert-blue.webp); }
			}

			&.gold {
				background: $gold;
				color: $black;
				&:before { background-image: url(../img/accent-tartan-vert-gold.webp); }
			}

			&.sky {
				background: $sky;
				color: $black;
				&:before { background-image: url(../img/accent-tartan-vert-sky.webp); }
			}
		}

		.accordion-content {
			padding: 10px 20px;
			display: none;

			@extend .content-style;

			@include respond-to( $bp-m ) {
				padding: 15px 30px;
			}
		}

		&.open .accordion-content {
			display: block;
		}
	}
}

