

.two-column, .content-wide, .three-column {
	.box {
		border: 2px solid $gold;
		margin: 20px 0;
		box-shadow: 5px 5px 30px rgba( black, .1 );

		&.foam {
			border: 2px solid $foam;
			.box-title { background: $foam; color: white; }
		}

		&.rose {
			border: 2px solid $rose;
			.box-title { background: $rose; color: white; }
		}

		&.red {
			border: 2px solid $red;
			.box-title { background: $red; color: white; }
		}

		&.tan {
			border: 2px solid $tan;
			.box-title { background: $tan; }
		}

		&.blue {
			border: 2px solid $blue;
			.box-title { background: $blue; color: white; }
		}

		&.no-title {
			border: none;
		}

		.box-title {
			@include font-title-bold;
			background: $gold;
			color: black;
			padding: 10px 20px;
		}

		.box-content {
			padding: 20px;
			line-height: 1.4em;
		}
	}
}

