

.content {
	position: relative;
}


.two-column {
	position: relative;

	.sidebar {
		border-bottom: 1px solid rgba( $grey, .2 );
		padding: 20px;

		@include respond-to( $bp-m ) {
			position: absolute;
			left: 20px;
			top: 20px;
			width: 28%;
			border-bottom: 0;
			padding: 0;
		}

		@include respond-to( $bp-l ) {
			left: 30px;
			top: 30px;
		}

		@include respond-to( $bp-xl ) {
			width: 24%;
		}

		@include respond-to( $bp-xxl ) {
			left: 40px;
			top: 40px;
			width: 22%;
		}

		.toggle-sidebar-menu {
			@include respond-to( $bp-m ) {
				display: none;
			}
		}

		.menu-title {
			display: none;
			font-size: 22px;
			padding: 10px 0;

			@include respond-to( $bp-m ) {
				padding: 10px;
			}
		}

		&.scrolled {
			position: fixed;
			z-index: 400;
		}

		.nav-menu {
			border-top: 2px solid $grey-light;
			border-bottom: 2px solid $grey-light;

			li {
				a {
					display: block;
					color: $grey;
					font-size: 14px;
					line-height: 18px;
					text-decoration: none;
					padding: 5px 20px;
					border-bottom: 1px solid $grey-light;
					@include font;

					@include respond-to( $bp-m ) {
						padding: 10px 12px;
					}

					&:hover {
						color: $blue;
					}
				}

				.sub-menu {
					display: none;

					&.open {
						display: block;
						padding-left: 20px;

						li a {
							@include font;
						}
					}
				}
			}
		}
	}

	.right-column {
		padding: 20px;

		@include respond-to( $bp-m ) {
			padding: 10px 20px 50px 34%;
		}

		@include respond-to( $bp-l ) {
			padding: 20px 40px 50px 34%;
		}

		@include respond-to( $bp-xl ) {
			padding: 30px 40px 70px 29%;
		}

		@include respond-to( $bp-xxl ) {
			padding: 30px 40px 70px 27%;
		}
	}
}


.two-column {
	min-height: 900px;
}


.post-columns {
	padding: 20px;
		
	@include respond-to( $bp-m ) {
		padding: 30px;
	}

	@include respond-to( $bp-l ) {
		padding: 30px 40px;
	}

	@include respond-to( $bp-xxl ) {
		padding: 40px 60px;
	}

	.post-columns-inner {
		@include respond-to( $bp-m ) {
			display: flex;
		}

		.main-content {
			@extend .content-style;

			.wp-post-image {
				border: 1px solid $grey-light;
				box-shadow: 0 0 20px rgba( black, .2 );
				margin: 20px 0;

				@include respond-to( $bp-l ) {
					margin: 30px 0;
				}
			}

			@include respond-to( $bp-m ) {
				flex: 1;
				flex-basis: 65%;
				margin-right: 5%;
			}
		}

		.aside {
			h3 {
				color: black;
				padding: 20px 0 10px;
			}

			@include respond-to( $bp-m ) {
				flex: 1;
				flex-basis: 30%;
				padding-top: 50px;
			}
		}
	}
}


.one-column {
	padding: 20px;

	@include respond-to( 768px ) {
		padding: 30px;
	}

	@include respond-to( 1220px ) {
		padding: 30px 50px;
	}
}
