

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Slab:wght@100..900&display=swap');

@mixin font {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

@mixin font-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin font-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

@mixin font-bold-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin font-title {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-optical-sizing: auto;
}

@mixin font-title-italic {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-optical-sizing: auto;
}

@mixin font-title-bold {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 600;
	font-optical-sizing: auto;
}

@mixin font-title-bold-italic {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 600;
	font-style: italic;
	font-optical-sizing: auto;
}

