

.job-filter {
	@include clearfix;
	padding: 20px 0;
	border-bottom: 2px solid rgba( $grey-light, .2 );

	@include respond-to( $bp-xl ) {
		padding: 30px 0;
	}

	.job-search {
		padding: 0 0 20px;

		label {
			@include font-bold;
			text-transform: uppercase;
			color: $grey;
			padding: 0 10px 0 0;
		}

		@include respond-to( $bp-m ) {
			float: left;
			padding: 0;
		}
	}

	.job-count {
		@include respond-to( $bp-m ) {
			float: right;
			padding: 10px 0;
		}
	}
}


.job-list {
	.entry-job {
		@include clearfix;
		border-bottom: 2px solid rgba( $grey-light, .2 );
		padding: 20px 0;

		@include respond-to( $bp-xl ) {
			padding: 40px 0;
		}

		.job-title {
			padding: 0;

			h3 {
				@include font-title-bold;
				font-size: 1.3em;
			}
		}

		.accordion-content {
			display: none;
			background: white;
		}

		.job-excerpt {
			display: block;

			.job-info {
				@include respond-to ( $bp-m ) {
					float: right;
					width: 30%;
					margin-left: 3%;
					border-left: 3px solid #ddd;
					margin-bottom: 20px;
					padding: 0 0 0 20px;
				}
			}
		}
	}
}


.job-single {
	.job-info {
		@include respond-to ( $bp-m ) {
			float: right;
			width: 30%;
			margin-left: 3%;
			border-left: 3px solid #ddd;
			margin-bottom: 20px;
			padding: 0 0 0 20px;
		}

		h5 {
			@include font-title;
			padding: 15px 0 4px 0;
			font-size: 1.2em;
			line-height: 1;
		}

		p {
			padding: 5px 0 15px 0;
		}
	}
}

