

.quote {
	margin-top: 3%;

	@include respond-to( 768px ) {
		display: flex;
		align-items: top;
		justify-content: top;
	}

	&.right {
		@include respond-to( 768px ) {
			flex-direction: row-reverse;

			.quote-photo {
				margin-right: 0;
				margin-left: 2%;
			}
		}
	}

	.quote-photo {
		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 20%;
			margin-right: 3%;
			padding-top: 20px;
		}

		@include respond-to( $bp-xl ) {
			flex-basis: 15%;
		}

		img {
			box-shadow: 0 0 20px rgba( $grey, .4 );			
		}
	}

	.quote-content {
		padding: 0 0 0 25px;
		line-height: 1.5em;

		.quote-content-inner {
			padding: 20px;
			position: relative;

			&:before {
				content: '\201D';
				position: absolute;
				left: -30px;
				top: 15px;
				font-size: 100px;
				line-height: 100px;
				font-family: "Palatino Linotype", sans-serif;
				color: $gold;
				transform: scaleX(-1);
			}
		}

		.quote-attribution {
			@include font-bold;
			padding: 20px 30px;
			display: none;

			&:before {
				content: '- ';
			}
		}

		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 80%;
		}

		@include respond-to( $bp-xl ) {
			flex-basis: 85%;
		}
	}
}

