
.sidebar {

	.sidebar-menu-toggle {
		position: relative;
		padding: 10px 0 8px;
		border: 1px solid black;
		background: #eeeeee;
		color: $grey;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 5px;

		&:after {
			position: absolute;
			right: 10px;
			top: 50%;
			color: rgba( $grey, .7 );
			margin-top: -7px;
			content: "\27A4";
			transition: transform 200ms ease-in-out;
			transform: rotate(90deg);
		}

		&.open:after {
			transform: rotate(270deg);
		}

		@include respond-to( $bp-m ) {
			display: none;
		}
	}

	.sidebar-menu {
		display: none;

		@include respond-to( $bp-m ) {
			display: block;
		}
	}

	.menu {
		list-style-type: none;
		padding: 0;

		li {
			a {
				display: block;
				color: $grey;
				font-size: 15px;
				line-height: 20px;
				text-decoration: none;
				padding: 5px 0;
				border-bottom: 1px solid rgba( $grey-light, .2 );
				@include font;

				@include respond-to( $bp-m ) {
					padding: 10px 0;
				}

				&:hover {
					color: $foam;
				}
			}

			&.current_page_item > a {
				color: $foam;
				@include font-bold;
			}

			.sub-menu {
				display: none;

				li a {
					@include font;
					padding: 6px 0;
					border-bottom: none;
				}

			}

			&.open .sub-menu {
				display: block;
				padding: 5px 5px 15px 25px;
				border-bottom: 1px solid rgba( $grey-light, .2 );
			}
		}
	}

	.action-nav {
		margin-top: 20px;

		li a {
			@include font-bold;
			display: block;
			color: white;
			background: $rose;
			padding: 13px 15px;
			font-size: .9em;
			margin-bottom: 10px;
		}
	}

}
