

// set colors
$gold: #f7bf0a;
$red: #af2735;
$tan: #f7f2e6;
$blue: #24629b;
$sky: #9ccdfb;
$foam: #58a8b5;
$rose: #f18079;


$grey: #666666;
$grey-light: #999999;
$grey-dark: #444444;
$black: #000000;


// breakpoints
$bp-s: 600px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1220px;
$bp-xxl: 1440px;
$bp-xxxl: 1680px;


// import all the things
@import "mixins", "fonts", "reset", "button", "base", "grid", "form";


// import layout components
@import "header", "page-header", "showcase", "post-showcase", "content", 
	"columns", "sidebar", "front", "photo-tiles", "footer", "emergency", 
	"people", "accordion", "articles", "search", "library", "box", "boxes", 
	"statistics", "counselors", "quote", "pdf", "agenda";


// include styles for custom post types
@import "area", "event", "alum", "org", "fund", "job";


// import lightbox styles
@import "magnific";

