#mapwrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
}

#map_base svg {
	max-height: 100%;
	width: 100%;
	margin: 0;
}

#map-tip {
	font-size: .8em;
    display: none;
    padding: 3px;
    border: thin solid #CCC;
    color: #000;
    z-index: 1000;
    float: left;
    position: absolute;
	background: #fff;
    word-break: keep-all;
    white-space: nowrap;
}
#map-tip p {
	margin: 0!important;
	float: right;
}

#map-tip p .name {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 140%;
}

/* Admissions Geomap styles */


#search-submit {
	border: 0;
	padding: .5em 1em;
	background: var(--light-gold);
}

#search-submit:hover {
	background: var(--black);
	color: var(--gold);
}

.geomapwrap { 
	display: grid;
	grid-template-columns: 2;
	max-width: 1024px; 
	margin: 0 auto;
}

@media screen and (max-width: 834px) {
	.geomapwrap {
		display: block;
		max-width: 98%;
	}
}

.geomapwrap h2 {
	text-align: center;
	padding: 1em 0 .25em 0;
}

.feature1 {
	grid-column: 1;
}
.feature2 {
	grid-column: 2;
}

a.geomapbutton {
	padding: .5em .5em;
	background: var(--light-gold);
	width: 75%;
	color: var(--black);
	text-decoration: none;
	display: block;
	font-family: var(--san-serif);
	text-align: center;
	margin: 0 auto;
}

a.geomapbutton:hover {
	background: var(--black);
	color: var(--gold);
}


.anotherWrapper{
	max-width: 1024px;
	margin: 0 auto;
}
/* End Admissions Geomap features */
