

.boxes-container {
    padding: 20px 0 0;

    .boxes {
        @include respond-to( $bp-l ) {
            margin: 0;
            
            &.col1 {
                display: block !important;
                margin-right: 0 !important;

                .abox {
                    flex: none !important;
                }
            }

            &.col2 {
                display: flex;
                flex-wrap: wrap;

                .box {
                    flex: 1;
                    flex-basis: 49%;
                    margin-right: 2%;
                    margin-bottom: 2%;

                    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10), &:nth-child(12), &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &.col3 {
                display: flex;
                flex-wrap: wrap;

                .box {
                    flex: 1;
                    flex-basis: 31.3333%;
                    margin-right: 2%;
                    margin-bottom: 2%;
    
                    &:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    
        .box {
            position: relative;
            background-size: cover;
            // background-color: white;
            background-color: rgba( $gold, .1 );
            color: black;
            margin-bottom: 30px;
            border: 3px solid $gold;
            box-shadow: 3px 3px 20px rgba( black, .1 );
            
            .box-title {
                padding: 10px 20px;
                background-color: $gold;
                
                h3 {
                    font-size: 1.2em;
                }
            }

            .box-content {
                padding: 10px 20px;
            }
    
            &.linked {
                cursor: pointer;
            }

            &.no-title {
                margin: 52px 0 20px;
                border: none;

                &:before {
                    position: absolute;
                    top: -52px;
                    left: 0;
                    right: 0;
                    height: 50px;
                    background: url(../img/accent-tartan-hor-gold.png) center center no-repeat;
                    background-size: cover;
                    content: ' ';
                }
            }
    
            &.red {
                background-color: rgba( $red, .1 );
                border: 3px solid $red;

                .box-title {
                    background: $red;
                    color: white;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-red.png);
                    }
                }
            }
    
            &.rose {
                background-color: rgba( $rose, .1 );
                border: 3px solid $rose;

                .box-title {
                    background: $rose;
                    color: white;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-rose.png);
                    }
                }
            }
    
            &.sky {
                background-color: rgba( $sky, .1 );
                border: 3px solid $sky;

                .box-title {
                    background: $sky;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-sky.png);
                    }
                }
            }
    
            &.blue {
                background-color: rgba( $blue, .1 );
                border: 3px solid $blue;

                .box-title {
                    background: $blue;
                    color: white;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-blue.png);
                    }
                }
            }
    
            &.foam {
                background-color: rgba( $foam, .1 );
                border: 3px solid $foam;

                .box-title {
                    background: $foam;
                    color: white;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-foam.png);
                    }
                }
            }
    
            &.tan {
                background-color: rgba( $tan, .2 );
                border: 3px solid darken( $tan, 10% );

                .box-title {
                    background: darken( $tan, 10% );
                    color: black;
                }

                &.no-title { 
                    border: none;

                    &:before {
                        background-image: url(../img/accent-tartan-hor-tan.png);
                    }
                }
            }
        }
    }
}

