

.quick-links-container {
    padding: 10px 0;

    @include respond-to( $bp-m ) {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        position: relative;
        display: block;
        padding: 15px 70px 15px 60px;
        color: white;
        margin-bottom: 15px;
        transition: all 400ms ease-in-out;
        line-height: 1.35em;
        box-shadow: 3px 3px 20px rgba( black, .1 );

        @include respond-to( $bp-m ) {
            flex: 1 1 49%;
            margin-right: 2%;
            margin-bottom: 2%;
            display: flex;
            align-items: center;

            .inner {
                flex: 1;
            }
            
            &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10), &:nth-child(12), &:last-child {
                margin-right: 0;
            }
        }

        @include respond-to( $bp-l ) {
            padding: 20px 70px 20px 60px;
        }

        &:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            width: 40px;
            background: url(../img/arrow-right-white.png) center center no-repeat;
            background-size: contain;
            opacity: .8;
        }

        strong {
            text-transform: uppercase;
        }

        &:hover {
            text-decoration: none;
            opacity: .8;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            background: white url(../img/accent-tartan-vert-black.webp) center center no-repeat;
            background-size: cover;
        }

        &.rose {
            background: $rose;
            &:before { background-image: url(../img/accent-tartan-vert-rose.webp); }
        }

        &.red {
            background: $red;
            &:before { background-image: url(../img/accent-tartan-vert-red.webp); }
        }

        &.tan {
            background: $tan;
            color: $black;
            &:before { background-image: url(../img/accent-tartan-vert-tan.webp); }
        }

        &.foam {
            background: $foam;
            &:before { background-image: url(../img/accent-tartan-vert-foam.webp); }
        }

        &.blue {
            background: $blue;
            &:before { background-image: url(../img/accent-tartan-vert-blue.webp); }
        }

        &.gold {
            background: $gold;
            color: $black;
            &:before { background-image: url(../img/accent-tartan-vert-gold.webp); }
        }

        &.sky {
            background: $sky;
            color: $black;
            &:before { background-image: url(../img/accent-tartan-vert-sky.webp); }
        }
    }
}

